.cont {
    padding: 1rem 1.5rem 1rem 0rem;
}
.cont-card {
    align-items: center;
}
.img-container {
    width:15rem;
    height:15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-quantity-cart {
    display: flex;
    justify-content: space-between;
}
.section-quantity-cart a{
    width: 70%;
}
.quantity-text {
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    color: gray;
}
.input-quantity {
    width: 25%;
}
